nav a{
    margin-left: 5px;
    margin-right: 5px;
    color: whitesmoke;
}

nav a:hover{
    border-radius: 10px;
    background-color: #D1D1D1;
}

.imageninicio{
    width: 100%; 
    -webkit-filter: brightness(50%) blur(3px);
    filter: brightness(50%) blur(3px);;

}

footer{
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}   