{% extends '_base.html' %}
{% load staticfiles %}


{% block content %}
<div class="row">
    <div class="col-md-5" style="margin-top: 0px;">
            <button style="margin: -15px 0px 15px;" class="btn btn-outline-secondary"><i class='fas fa-arrow-left' style='font-size:17px'></i>  Regresar a la página</button>
        <img style="border-radius: 10px;" src="https://www.ochbuffalo.org/sites/default/files/styles/news_large/public/default_images/KH-15733-OSHEI-SIGN-RENDERING_cmyk.jpg?itok=zfw4Gy_i" height="300px" style="max-height: 300px;">
    </div>
    <div class="col-md-6">
        <h1>Hospital San Juan De Dios</h1>
        <hr>
        <div class="datos">
            <i class='fas fa-search-location' style='font-size:15px'></i>
            <span>1st Avenida, Guatemala 01001</span> <br>
            <i class='fas fa-phone' style='font-size:15px'></i>
            <span>2321-9191</span> <br> <br>
            <span>El Hospital General San Juan de Dios de Guatemala es el hospital público más grande y más importante del país. Fundado originalmente por la Orden Hospitalaria de San Juan de Dios en 1667 en la ciudad de Santiago de los Caballeros de Guatemala durante la colonia española, se trasladó a la Ciudad de Guatemala tras los destrozos provocados por los terremotos de Santa Marta en 1773. Ya en la nueva ciudad, estuvo localizado en el extremo oeste de la ciudad en donde sobrevivió los terremotos de 1917-18 y el de 1976, hasta que fue trasladado a su moderna sede en 1981, construida por el gobierno del general Fernando Romeo Lucas García.</span>
        </div>
    </div>
</div>
{% endblock content %}
