{% load staticfiles %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<!-- CSS -->
<link rel="stylesheet" media="screen" href="{% static 'css/inicio.css' %}"/>

<!-- Iconos -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<!-- Fuentes -->
<link href="https://fonts.googleapis.com/css?family=Lato|Roboto|Poppins" rel="stylesheet">

<!-- JS -->
<script src="{% static  'packery.pkgd.js' %}"></script>

{% include '_navbar.html' %}

<div class="container">
    {% block content %}
    <!-- outlet -->
    {% endblock %}
</div>

{% include '_footer.html' %}