{% load staticfiles %}

{% include '_source.html' %}

{% load sass_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% load favtags %}
    {% placeFavicon %}
    <title>FIRM - {% block title %}{% endblock title %} </title>
    {% include '_head.html' %}
</head>
<body>
    {% block navbar %}
        {% include '_navbar.html' %}
    {% endblock navbar %}

    <main class="container">
        {% block content %}
        <!-- outlet -->
        {% endblock %}
    </main>


    {% block footer %}
        {% include '_footer.html' %}
    {% endblock footer %}

    <!-- Iconos -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <!-- Fuentes -->
    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto|Poppins" rel="stylesheet">
</body>
</html>