{% load staticfiles %}
{% load icons %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static 'img/RonaldLogo.png' %}">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Inicio</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Huespedes</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'list_houses' %}">Casas</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'list_hospitals' %}">Hospitales</a></li>
        </ul>
        <span class="navbar-text" style="margin-right: 35px">
        Manteniendo las familias cerca.
        </span>
        
        {% if user.is_authenticated %}
            <div class="dropdown dropdown-account">
                <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% icon 'user' %} {{ user.username }}
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Edit profile</a>
                    <a class="dropdown-item" href="#">Change password</a>
                    <a class="dropdown-item" href="accounts/logout">Logout</a>
                </div>
            </div>
        {% else %}
            <a href="accounts/login">
                <button class="btn btn-primary">
                    Login
                </button>
            </a>
        {% endif %}
    </div>
</nav>