{% extends '_base.html' %}
{% load staticfiles %}
{% load host_extras %}

{% block content %}
    <div>
    <p id="title">¡CONOCE A NUESTRO EQUIPO!</p>    
    </div>

    <div class="container-fluid text-center">
    <div class="row">
    <div class="col">
    <h1 id="titulo">DIEGO AUYÓN</h1>
    <h6 id="puesto">Coordinador del area programación</h6>
    <h6 id="texto">Correo Electronico:</h6>
    <p id="texto">diegoauyon@kinal.org.gt</p>
    <p id="texto">¡Hola! Mi nombre es Diego Auyón, soy el coordinador de este maravilloso
        grupo de trabajo, mi trabajo es hacer que todo funcione y que pueda pasar una experiencia
        excepcional por acá.</p>
    </div>
    <div class="col">
        <img src="../../static/img/diego.jpg" width="250" height="250" id="diego"/>
    </div>
    </div>
    </div>

    <div class="container-fluid text-center">
    <div class="row">
        <div class="col">
            <h1 id="titulo">FERNANDO MORALES</h1>
            <h6 id="puesto">Programador Back-End</h6>
            <h6 id="texto">Correo Electronico:</h6>
            <p id="texto">fernandomorales@kinal.org.gt</p>
            <p id="texto">¡Heeey! Yo soy, Fernando Morales, junto con nuestro coordinador, trabajo en el área
                más importante de esta aplicación: los datos. Es muy importante para nosotros el tiempo
                que pasas visitando esta página. Recuerda, tú eres lo primero para nosotros.</p></div>
            <div class="col">
                <img src="../../static/img/fernando.jpg" width="250" height="250" id="fernando"/>
        </div>
        </div>
    </div>

    <div class="container-fluid text-center">
    <div class="row">
        <div class="col">
        <h1 id="titulo">OSCAR MORALES</h1>
        <h6 id="puesto">Coordinador Front-End</h6>
        <h6 id="texto">Correo Electronico:</h6>
        <p id="texto">oscarestrada@kinal.org.gt</p>
            <p id="texto">¿Qué creen? ¿Lo visual y dinámico de una página no es importante? Hola, me llamo Oscar, por cierto.
                Trabajo coordinando el área de todo lo que tiene que ver con lo visual, la parte que va a tener un contacto directo
                contigo. ¡Espero que lo disfrutes!
            </p>
            </div>
            <div class="col">
            <img src="../../static/img/oscar.jpg" width="250" height="250" id="oscar"/>
        </div>
    </div>
    </div>

    <div class="container-fluid text-center">
    <div class="row">
    <div class="col">
        <h1 id="titulo">NATHAN CASTAÑEDA</h1>
        <h6 id="puesto">Programador Front-End</h6>
        <h6 id="texto">Correo Electronico:</h6>
        <p id="texto">nathancastaneda@kinal.org.gt</p>
        <p id="texto">¡Qué onda! Yo también trabajo en hacer que la parte visual sea atractiva y confortable para tí.
            No tengo mucho que añadir, así que, espero que te animes a unirte a esta bella causa.
        </p>
        </div>
        <div class="col">
            <img src="../../static/img/nathan.jpg" width="250" height="250" id="nathan"/>
    </div>
    </div>
    </div>
{% endblock content %}
