{% extends '_base.html' %}
{% load staticfiles %}

{% block content %}
<form id="casas">
    <fieldset>
        <legend>Registro de casas</legend>
            <div class="form-row">
                <div class="form group col-md-6">
                  <label>Nombre de la casa</label>
                  <input type="text" class="form-control">
                </div>
  
              <div class="form group col-md-6">
                <label>Dirección de la casa</label>
                <input type="text" class="form-control">
              </div>
            </div>

            <div class="form-row">
                    <div class="form group col-md-3">
                        <label>Empresa encargada del proyecto</label>
                        <input type="text" class="form-control">
                     </div>

                    <div class="form-group col-md-3">
                      <label>Capacidad de la casa (Cuartos)</label>
                      <input type="text" class="form-control">
                    </div>

                    <div class="form-group col-md-3">
                            <label>Presupuesto del proyecto</label>
                            <input type="text" class="form-control">
                        </div>

                    <div class="form group col-md-3">
                        <label>Patrocinador(es) del proyecto</label>
                        <select class="js-example-basic-multiple form-control" multiple="multiple">
                            <option>Seleccione</option>
                            <option>McDia Feliz</option>
                            <option>Pepsi Co.</option>
                            <option>Cerveceria CentroAmericana</option>
                        </select>
                    </div>
            </div>

            <div class="form-row">
                    <div class="form-group col-md-4">
                        <label>Fecha estipulada de finalizacion de proyecto:</label>
                        <input id="datepicker" class="form-control">
                    </div>

                    <div class="form-group col-md-4">
                            <label>Fecha estipulada de ignauracion de la casa:</label>
                            <input id="apertura" class="form-control">
                    </div>

                    <div class="form-group col-md-4">
                            <label>Encargado(a) administrativo de la casa:</label>
                            <input type="text" class="form-control"/>
                    </div>
            </div>

            <div class="form-row">
                    <div class="form-group col-md-2">
                      <button class="btn btn-success form-control boton" onclick=""><i class='	fas fa-check'></i> Ingresar</button>
                    </div>
        
                    <div class="form-group col-md-2">
                      <button class="btn btn-danger form-control boton" onclick=""><i class='	fas fa-trash-alt'></i> Eliminar</button>
                    </div>

                    <div class="form-group col-md-2">
                            <button class="btn btn-primary form-control boton" onclick=""><i class="fas fa-sync-alt"></i> Actualizar</button>
                          </div>
                  </div>
    </fieldset>
</form>        
{% endblock %}