{% extends '_base.html' %}
{% load staticfiles %}

{% block content %}
<img src="{% static 'img/FotoInicio1.jpg' %}" class="imageninicio">
<div class="container cuerpo">
    <div class="row">
        <div class="col-md-12">
            <h1> ¿Quiénes somos?</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam hic perferendis,
            ea facere dolorum vitae earum sint ducimus? Incidunt dolor quae, quam corrupti nam doloremque. Repellendus magni doloribus eius ipsum?</p>
        </div>
    </div>
</div>
{% endblock %}