{% extends '_base.html' %}
{% load staticfiles %}
{% load host_extras %}

{% block content %}
    <a href="/{{ object | to_class_name }}">
            <button class="btn btn-outline-secondary my-2">
                <i class='fas fa-arrow-left' style='font-size:17px'></i>  Regresar a la página
            </button>
    </a>
    <div class="row">
        <div class="col-md-5">
            <img class="my-5" style="max-width: 100%;" src="{{ object.image.url }}">
        </div>
        <div class="col-md-6">
            <h1>{{ object.name }}</h1>
            <hr>
            <div class="datos">
                <i class='fas fa-search-location' style='font-size:15px'></i>
                <span>{{ object.address }} - {{ object.department }}</span><br>
                <i class='fas fa-phone' style='font-size:15px'></i>
                <span>{{ object.phone_address }}</span> <br>
                <i class='fas fa-file' style='font-size:15px'></i>
                <a href="{{ object.web_page }}"><span>Página web</span></a> <br> <br>
                <span>El object General San Juan de Dios de Guatemala es el object público más grande y más importante del país. Fundado originalmente por la Orden objectaria de San Juan de Dios en 1667 en la ciudad de Santiago de los Caballeros de Guatemala durante la colonia española, se trasladó a la Ciudad de Guatemala tras los destrozos provocados por los terremotos de Santa Marta en 1773. Ya en la nueva ciudad, estuvo localizado en el extremo oeste de la ciudad en donde sobrevivió los terremotos de 1917-18 y el de 1976, hasta que fue trasladado a su moderna sede en 1981, construida por el gobierno del general Fernando Romeo Lucas García.</span>
            </div>
        </div>
    </div>
{% endblock content %}
