#diego, #fernando, #oscar, #nathan{
    border-radius: 100%;
    position: relative;
    top: 30px;
    margin: 50px 100px;
    align-content: center;
}

#titulo{
    color: #5DADE2;
    font-size: 32px;
    position: relative;
    top: 100px;
    text-align: center;
    font-weight: bold;
}

#texto{
    position: relative;
    top: 100px;    
}

#title{
    color: #5DADE2;
    font-size: 32px;
    position: relative;
    top: 75px;
    text-align: center;
    font-weight: bold;
}
#puesto{
    color: #28B463;
    position: relative;
    top: 100px;
}