<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../scratch/inicio.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato|Poppins|Roboto" rel="stylesheet">
    <!-- Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title>Ronald McDonald's</title>
</head>
<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top" style="padding-left: 50px; padding-right: 50px;">
        <img src="../../static/img/RonaldLogo.png" height="75px"/>
        <a class="navbar-brand" href="#" style="margin-left: 20px; color: #000000;">Casa Ronald McDonald</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#" style="color: #000000">Inicio<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" style="color: #000000">Casas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" style="color: #000000">Hospitales</a>
            </li>
        </ul>
    </div>
</nav>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../static/img/FotoInicio1.PNG" height="100%" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
            <img src="../../static/img/FotoInicio2.jpg" height="100%" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
            <img src="../../static/img/FotoInicio3.jpeg" height="100%" class="d-block w-100" alt="...">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Casa Ronald McDonald</h1>
                <hr>
                Muchas familias viajan lejos de sus hogares a la capital para poder recibir atención médica. Para un niño luchando contra una enfermedad, no hay mayor temor que estar lejos de sus padres. Las Casas Ronald McDonald son un Hogar lejos del Hogar, para que las familias puedan estar cerca de sus hijos mientras reciben tratamiento. 
                <br><br>
                Nuestras Casas han sido construidas para que los padres se enfoquen en lo más importante, la salud de su hijo; no deben preocuparse de donde dormir, que comer o donde tomar un baño porque sabemos que la mejor medicina para un niño enfermo es estar cerca de sus padres. 
                <br><br>
                <strong>Permitir que las familias se mantengan cerca</strong>
                <br><br>
                Las familias son más fuertes cuando están juntas, lo cual ayuda en el proceso de recuperación. Al quedarse en una Casa Ronald McDonald, los padres también pueden tener una comunicación directa con los doctores y trabajar en el tratamiento constantemente. Además, pueden enfocarse únicamente en la salud de su hijo, sin preocuparse por nada más. 
                <br><br>
                <strong>Permitir a los niños a recibir la mejor ayuda</strong>
                <br><br>
                Cualquier padre en el mundo quiere que su hijo esté en las mejores manos, por eso las Casas Ronald McDonald permiten que las familias se hospeden a muy cortas distancias de los mejores hospitales y centros de salud de Guatemala en donde sus hijos recibirán tratamiento. 
                <br><br>
                <strong>Servicios para familias</strong> 
                <br><br>
                En nuestras casas le brindamos a las familias:
                <br><br>
                <ul>
                    <li>Tres tiempos de comida caliente</li>
                    <li>Cuartos privados, baños, lavandería</li>
                    <li>Áreas de juegos, computadoras y recreación para los niños.</li>
                </ul>
                <br>
                La generosidad de voluntarios y donadores hacen que todo esto sea posible, permitiendo que las familias se hospeden en las casas a un costo muy bajo o ningún costo dependiendo el caso. 
            </div>
        </div>
    </div>
    <section id="homeSection" class="fullSections topSectionBG"></section>
        <div class="container">
            <div class="row" style="padding-top: 25px;">
                <div class="col-md-3 vericons">
                    <div class="card" style="width: 18rem; border-style: none">
                        <img src="../../static/img/sinmanos.png" style="height: 175px; width: 150px; margin-top: 20px; margin-left: 65px;" class="card-img-top">
                        <div class="card-body">
                            <p class="card-text">
                                <h2>Casas</h2>
                                En Guatemala las Casas Ronald McDonald están situadas dentro del perímetro de las unidades de atención médica de mayor afluencia.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 vericons">
                    <div class="card" style="width: 18rem; border-style: none">
                        <img src="../../static/img/manos.png" style="height: 150px; width: 150px; margin-top: 45px; margin-left: 65px;" class="card-img-top">
                        <div class="card-body">
                            <p class="card-text">
                                <h2>Donaciones</h2>
                                La base de nosotros está formada a base de donaciones, por recaudaciones y todo el apoyo de la gente.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 vericons">
                    <div class="card" style="width: 18rem; border-style: none">
                        <img src="../../static/img/roni.jpeg" style="height: 175px; width: 150px; margin-top: 20px; margin-left: 65px;" class="card-img-top">
                        <div class="card-body">
                            <p class="card-text">
                            <h2>Nosotros</h2>
                            En Guatemala las Casas Ronald McDonald están situadas dentro del perímetro de las unidades de atención médica de mayor afluencia.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <section id="aboutSection" class="fullSections middleSectionBG"></section>
    <section class="subSections"></section>



    <!-- JS and JQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>