<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="../scratch/verHospital.css">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Lato|Poppins|Roboto" rel="stylesheet">
        <!-- Icons -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <title>Hospital</title>
    </head>
<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top" style="padding-left: 50px; padding-right: 50px;">
        <img src="../../static/img/RonaldLogo.png" height="75px"/>
        <a class="navbar-brand" href="#" style="margin-left: 20px; color: #000000;">Casa Ronald McDonald</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#" style="color: #000000">Inicio<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" style="color: #000000">Casas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" style="color: #000000">Hospitales</a>
            </li>
        </ul>
    </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-5" style="margin-top: 0px;">
                    <button style="margin: -15px 0px 15px;" class="btn btn-outline-secondary"><i class='fas fa-arrow-left' style='font-size:17px'></i>  Regresar a la página</button>
                <img style="border-radius: 10px;" src="https://www.ochbuffalo.org/sites/default/files/styles/news_large/public/default_images/KH-15733-OSHEI-SIGN-RENDERING_cmyk.jpg?itok=zfw4Gy_i" height="300px" style="max-height: 300px;">
            </div>
            <div class="col-md-6">
                <h1>Hospital San Juan De Dios</h1>
                <hr>
                <div class="datos">
                    <i class='fas fa-search-location' style='font-size:15px'></i>
                    <span>1st Avenida, Guatemala 01001</span> <br>
                    <i class='fas fa-phone' style='font-size:15px'></i>
                    <span>2321-9191</span> <br> <br>
                    <span>El Hospital General San Juan de Dios de Guatemala es el hospital público más grande y más importante del país. Fundado originalmente por la Orden Hospitalaria de San Juan de Dios en 1667 en la ciudad de Santiago de los Caballeros de Guatemala durante la colonia española, se trasladó a la Ciudad de Guatemala tras los destrozos provocados por los terremotos de Santa Marta en 1773. Ya en la nueva ciudad, estuvo localizado en el extremo oeste de la ciudad en donde sobrevivió los terremotos de 1917-18 y el de 1976, hasta que fue trasladado a su moderna sede en 1981, construida por el gobierno del general Fernando Romeo Lucas García.</span>
                </div>
            </div>
        </div>
    </div>



    <!-- JS and JQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
<footer>
    <div class="footerleft">
        <p>Copyright©</p>
        <p>Todos los derechos reservados</p>
        <p>Casa Ronald McDonald </p> 
    </div>
    <div class="footerright">
        <p>Developed by:</p>
        <p>4Square</p>
        <div class="redes">
            <p>Contacto:</p>
            <div class="social-icons">
                <a href=""><i class='fab fa-facebook-square' style='font-size:24px'></i></a>
                <a href="https://github.com/foursquarex"><i class='fab fa-github' style='font-size:24px'></i></a>
                <a href=""><i class='fab fa-google-plus' style='font-size:24px'></i></a>
                <a href=""><i class='fab fa-instagram' style='font-size:24px'></i></a>
            </div>
        </div>
    </div>
</footer>
</html>