nav a{
    margin-left: 5px;
    margin-right: 5px;
    color: whitesmoke;
}

nav a:hover{
    border-radius: 10px;
    background-color: #D1D1D1;
}

.imageninicio{
    width: 100%; 
    -webkit-filter: brightness(50%) blur(3px);
    filter: brightness(50%) blur(3px);;
}

.iconos{
    color: gray;
}

.iconos a i{
    margin-left: 7px;
    font-size: 20px;
}

.iconos a i:hover{
    color: black;
}

footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}   

.cuerpo{
    margin-top: 25px;
}